/*Responsywność strony START*/

@media all and (max-width : 1200px) {
    
}

@media all and (max-width : 768px) {
    
}

/*Responsywaność strony STOP*/

/*General styles START*/
body {
    font-family: 'RobotoSlab', serif;
}

h2,h4{
    text-align: center;
    font-family: "Montserrat Medium", serif;
    font-size: 15px;
    color:#333333;
}

h5 {
    color: #777777;
    font-family: "Montserrat Medium", serif;
}

p {
    font-family: "Droid Serif", serif;
    text-align: center;
    color: #777777;
}
/*General styles STOP*/

/*Menu nav START*/

#main-nav {
    background-color: rgba(255,255,255,0);
    border: rgba(255,255,255,0);
    margin: 0;
    transition:  all 0.3s;   
}

#main-nav ul li a  {
    color: #fff;
    transition: all 0.3s;
    font-weight: 300;
	transition: all 0.3s;
}


#main-nav ul li a:hover  {
    color: #0ed8d6;
}

#main-nav.scroll  {
   background-color: rgba(255,255,255,1);   
   
}

#main-nav.scroll ul li a {
    color: #0ed8d6;
}

#main-nav.scroll ul li a:hover  {
    color: #0ed8d6;
}


 .toggle, #drop {
    display: none;
}

.menu-item {
    display: inline-block;
    padding: 20px 40px;
       
}
/*Main nav STOP*/

/*Header START*/
#main_header {
    background-image: url(../img/header/pictures_on_the_wall.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
    max-height: 500px;
    position: relative;
    font-family: "Montserrat Medium", serif;
}

#main_header .button button{
    background-color: #0ed8d6;
    color: #fff;   
}

#main_header .main-header-content {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right:0;
    margin: 0 auto;
    color: #FFF;
} 

#main_header .btn-btn-default {
    background-color:#0ed8d6;
    color: white;
    text-align: center;
    height: 40px;
    width: 100px;
    font-family: url(montserrat/Montserrat-ExtraBold.otf);
        
}

#main_header .main-header-content h2 {
 font-family: 'Droid Serif', serif;
 color: #FFF;
 
}

#main_header .main-header-content h1 {
    color: #FFF;
    font-size: 4em;
    font-weight: 200;
}
/*Header STOP*/

/*Setion Services START*/



/*Section Services STOP*/


/*Section Portfolio START*/
#portfolio {
    background-color: #f7f7f7;
    text-align: center;
    
}

/*Section Portfolio STOP*/

/*Section Team START*/
#team {
    text-align: center;
}

/*Section Contact START*/
#contact {
    background-image: url(../img/footer/world-map.jpg);
    height: auto;
    width: auto;
    color: #fff;
}

#contact .contact-form {
	margin-top: 100px;
}

#contact .contact-form form input{
	width: 100%;
	padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border: #fff 0px;
    color: #fff
}

#contact .contact-form form textarea {
	width: 100%;
    height: 100%;
	padding: 15px;
    margin-bottom: 100px;
    background-color: #fff;
    border: #fff 0px;
    color: #fff
}

#contact .button button{
    padding: 10px;
    background-color: #0ed8d6;
    color: #fff;
    
}

#contact .row p{
    color:#fff;
}

/*Section Contat STOP*/

/*Setion FOOTER*/
footer .copyright {
    color:#333333;
    font-family: "Montserrat", serif;
    text-align: left;
}

